@import url(/src/styles/variants.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--content-background);
  color: var(--font-color);
  font: var(--font-size);
}

.navBar {
  background-color: var(--nav--background);
  padding: 1.25rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  font-size: 1rem;
  height: 5rem;
  width: auto;
  text-decoration: none;
  object-fit: contain;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: var(--card-background);
  border-radius: 0.7rem;
  overflow: hidden;
  max-width: 250px;
  width: 100%;
  height: 350px;
  max-height: 100%;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 0.75rem;
}

.card-subtitle {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.bullet-point {
  width: 8px;
  height: 8px;
  background-color: #55cc44;
  border-radius: 50%;
  display: inline-block;
}

.bullet-point-Dead {
  width: 8px;
  height: 8px;
  background-color: #d63d2e;
  border-radius: 50%;
  display: inline-block;
}

.bullet-point-unknown {
  width: 8px;
  height: 8px;
  background-color: var(--font-secund-color);
  border-radius: 50%;
  display: inline-block;
}

.card-title {
  cursor: pointer;
}

.card-title:hover {
  color: #ff9800;
}

.card-info {
  gap: 1rem;
}

.info-label {
  color: var(--font-secund-color);
  margin: 3px 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
  gap: 10px;
}

.list-pages {
  gap: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page-number {
  all: unset;
  color: var(--font-secund-color);
  font: var(--font-size);
  padding: 1px;

  cursor: pointer;
  text-decoration: underline;
}
